
{% extends "product_base.html" %}
{% block acc_mobile %}
    nav_bottom__link--active
{% endblock %}
{% block title %}Email tài khoản đã được gửi{% endblock %}
{% block content %}
   <style>
        .status__wrapper {
            position: relative;
            width: 100%;
        }

        .title-status {
            font-size: 2.6rem;
            font-weight: bold;
            color: var(--border-color);
            line-height: 1.6em;
            text-align: center;
        }

        .title-status__text {
            font-size: 1.6rem;
            color: #333;
            line-height: 1.6em;
            text-align: center;
        }

        .title-status__link {
            font-size: 1.6rem;
            text-align: center;
            width: 100%;
            display: block;
            line-height: 1.4em;
        }
    </style>

    <div class="status__wrapper">
            <h3 class="title-status">Email tài khoản đã được gửi</h3>
            <p class="title-status__text">Kiểm tra email của bạn để kích hoạt tài khoản của bạn</p>
    </div>


{% endblock %}