{% extends "product_base.html" %}
{% block title %}Thanh toán thành công{% endblock %}
{% block content %}

    <style>
        .status__wrapper {
            position: relative;
            width: 100%;
            text-align: center;
        }

        .title-status {
            font-size: 2.6rem;
            font-weight: bold;
            color: var(--border-color);
            line-height: 1.6em;
            text-align: center;
        }

        .title-status__text {
            font-size: 1.6rem;
            color: #333;
            line-height: 1.6em;
            text-align: center;
            margin: 10px 0;
        }
        .title-status__link{
            margin-bottom: 10px;
        }

    </style>

    <div class="status__wrapper">
        <h3 class="title-status">Thanh toán thành công</h3>
        <p class="title-status__text">Đơn hàng của bạn đã hoàn tất.
        </p>
        <a class="title-status__link btn btn-white btn-animate" href="{% url 'account:user_orders' %}">Xem lại đơn hàng</a>
    </div>
{% endblock %}