{% extends "product_base.html" %}
{% load static %}
{% load social_share %}
{% block title %}
    Sản phẩm
{% endblock %}
{% block product %}
    sidebar__item-active
{% endblock %}
{% block product_mobile %}
    nav_bottom__link--active
{% endblock %}
{% block content %}
    <div class="grid wide">
        {% if display == 0 %}
            <a href="{% url 'store:display' %}" class="btn-flip" data-back="Chế độ hiển thị chi tiết"
               data-front="Chế độ hiển thị cơ bản"></a>
        {% else %}
            <a href="{% url 'store:display' %}" class="btn-flip" data-back="Chế độ hiển thị cơ bản"
               data-front="Chế độ hiển thị chi tiết"></a>
        {% endif %}
        {% if messages %}
            <div class="log__alert-successfully" role="alert">
                {% for message in messages %}
                    {{ message|safe }}
                    <a href="{% url 'account:wishlist' %}" class="alert-link">danh sách yêu thích của
                        bạn</a>
                {% endfor %}
            </div>
        {% endif %}
        {#        <form method="get" action="">#}
        {#            {{ myFilter.form }}#}
        {#            <button class="btn btn-black btn-animate" type="submit">Search</button>#}
        {#        </form>#}
        {% for c in category %}
            <div id="section-products__wrap-{{ c.slug }}" class="section-products__wrap-hightlights">
                <div class="section-product__title">
                    <p class="section-product__title-text">{{ c.name|title }}</p>
                </div>

                <div class="row">
                    {% for product in products %}
                        {% if product.category_id == c.id %}
                            {% if display == 1 %}
                                <div class="col l-4 m-6 c-12">
                                    <div class="product__wrapper">
                                        <div class="section-product__wrap">
                                            <div class="section-product__side section-product__side--font">
                                                <div class="section-product__header">
                                                    {% for image in product.product_image.all %}
                                                        {% if image.is_feature %}
                                                            <img src="{{ image.image.url }}"
                                                                 alt="{{ image.image.alt_text }}"
                                                                 class="section-product__header-img">
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <div class="section-product__info">
                                                    <p class="section-product__name">{{ product.title }} </p>
                                                    <p class="section-product__price">{{ product.regular_price }} Đ</p>
                                                </div>

                                                {% for p in wishlist %}
                                                    {% if p.id == product.id %}
                                                        <div class="section-product__favorite">
                                                            <i class='bx bx-check'></i>
                                                            <span>Yêu thích</span>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                                <span class="section-product__new">New</span>
                                            </div>
                                            <div class="section-product__side section-product__side--back">
                                                <p class="section-product__name--back">{{ product.title }}</p>
                                                <hr/>
                                                <p class="section-product__side--back__ingredient">Thành phần:
                                                    <span> {{ product.description }}</span></p>
                                                <div class="section-product__side--back__socials-share">
                                                    {% post_to_facebook p.get_absolute_url "<i class='section-product__side--back-icon section-product__side--back__like bx bx-share-alt'></i>" %}
                                                    {% if product in wishlist %}
                                                        <a href="{% url 'account:user_wishlist' product.id %}"><i
                                                                class='section-product__side--back-icon section-product__side--back__liked bx bxs-heart'></i></a>
                                                    {% else %}
                                                        <a href="{% url 'account:user_wishlist' product.id %}"><i
                                                                class='section-product__side--back-icon section-product__side--back__like bx bx-heart'></i></a>
                                                    {% endif %}
                                                </div>
                                                <p class="section-product__price--back">{{ product.regular_price }}
                                                    Đ</p>
                                                <a class="section-product__btn btn btn-white btn-animate"
                                                   href="{{ product.get_absolute_url }}">Mua</a>
                                                <div class="section-product__side--back__shipping">
                                                    <div class="section-product__side--back__time">
                                                        <i class='bx bx-timer'></i>
                                                        <p>Đặt online giao tận nhà ĐÚNG GIỜ</p>
                                                    </div>
                                                    <div class="section-product__side--back__report">
                                                        <i class='bx bx-podcast'></i>
                                                        <p>Bạn có thể báo cáo/khiếu nại <a
                                                                href="{% url 'store:index' %}#section__contact">tại
                                                            đây</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col l-4 m-6 c-12">
                                    <div class="product__wrapper">
                                        <div class="card">
                                            <div class="imgBox">
                                                {% for img in product.product_image.all %}
                                                    {% if img.is_feature %}
                                                        <a style="text-decoration: none;"
                                                           href="{{ product.get_absolute_url }}">
                                                            <img title="Hình ảnh của sản phẩm" src="{{ img.image.url }}"
                                                                 alt="products" class="mouse">
                                                        </a>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="card-fav">
                                                <div title="Số lượng món cần mua" class="basic__numArea-quantity">
                                                    <label for="select{{ product.id }}">Số lượng</label>
                                                    <select id="select{{ product.id }}">
                                                        {% for item in basket %}
                                                            {% if item.product == product %}
                                                                <option hidden
                                                                        selected>{{ item.qty }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </div>
                                                {% post_to_facebook product.get_absolute_url "<i title='Chia sẻ thông tin sản phẩm qua Facebook' class='card-fav__share bx bx-share-alt'></i>" %}
                                                {% if product in wishlist %}
                                                    <a title="Xóa khỏi danh sách yêu thích của bạn"
                                                       href="{% url 'account:user_wishlist' product.id %}"><i
                                                            class='card-fav__liked bx bxs-heart'></i></a>
                                                {% else %}
                                                    <a title="Thêm vào danh sách yêu thích của bạn"
                                                       href="{% url 'account:user_wishlist' product.id %}"><i
                                                            class='card-fav__like bx bx-heart'></i></a>
                                                {% endif %}
                                            </div>
                                            <div class="contentBox">
                                                <h3 title="Tên sản phẩm">{{ product.title }}</h3>
                                                <h2 title="Giá sản phẩm"
                                                    class="price">{{ product.regular_price }}<small>VND
                                                    {% for item in basket %}
                                                        {% if item.product == product %}
                                                            <span title="Số lượng của món bạn đã đặt"
                                                                  id="price_quantity{{ product.id }}" class="price_quantity">
                                                                        x{{ item.qty }}
                                                        </span>
                                                        {% endif %}
                                                    {% endfor %}</small>
                                                </h2>
                                                <button title="Đợi gì nữa!!!!! BẤM ĐI ^^"
                                                        onclick="showSuccessToastAddProDuct()" type="button"
                                                        id="add-button{{ product.id }}"
                                                        value='{{ product.id }}'
                                                        class="buy btn btn-white btn-animate">Mua Ngay
                                                </button>
                                                <script>
                                                    function showSuccessToastAddProDuct() {
                                                            toast({
                                                                title: 'Thêm thành công',
                                                                message: 'Sản phẩm đã được thêm vào <a style="font-size: 2rem; line-height: 1.2em;" href="{% url 'basket:basket_summary' %}">vỏ hàng</a> của bạn, mua tiếp <a style="font-size: 2rem; line-height: 1.2em;" href="{% url 'store:product_all' %}">tại đây</a>',
                                                                type: 'success',
                                                                duration: 5000
                                                            })
                                                        }
                                                    $(document).on('click', '#add-button{{ product.id }}', function (e) {
                                                        e.preventDefault();
                                                        $.ajax({
                                                            type: 'POST',
                                                            url: '{% url "basket:basket_add" %}',
                                                            data: {
                                                                productid: $('#add-button{{ product.id }}').val(),
                                                                productqty: $('#select{{ product.id }} option:selected').text(),
                                                                csrfmiddlewaretoken: "{{csrf_token}}",
                                                                action: 'post'
                                                            },
                                                            success: function (json) {
                                                                if (json.reload == 1)
                                                                    location.reload();
                                                                document.getElementById('price_quantity{{ product.id }}').innerHTML = "x" + json.product_qty
                                                                document.getElementById('cart-quantity__num').innerHTML = json.qty
                                                                document.getElementById('mobile_cart-quantity__num').innerHTML = json.qty
                                                            },
                                                            error: function (xhr, errmsg, err) {

                                                            }
                                                        });
                                                    })
                                                </script>
                                                {#                                                    <a href="{{ p.get_absolute_url }}"#}
                                                {#                                                       class="buy btn btn-white btn-animate">Mua</a>#}
                                            </div>
                                            {% if product in wishlist %}
                                                <div title="Sản phẩm này nằm trong danh sách yêu thích của bạn"
                                                     class="section-product__favorite-ss">
                                                    <i class='bx bx-check'></i>
                                                    <span>Yêu thích</span>
                                                </div>
                                            {% endif %}
                                            <span class="section-product__new">New</span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}