{% extends "product_base.html" %}
{% block title %}Xác thực{% endblock %}
{% load static %}
{% block stylesheet %}
    {% static 'account/css/confirm.css' %}
{% endblock %}
{% block acc_mobile %}
    nav_bottom__link--active
{% endblock %}
{% block content %}

    {% if request.user.is_authenticated %}
        <script>
            window.location.href = '{% url "account:dashboard" %}';
        </script>
    {% endif %}
    <div class="confirm-wrapper">
        <div class="grid">
            <div class="row">
                <div class="col l-6 m-12 c-12">
                    <div class="confirm__shell-content">
                        <div class="confirm__title">
                            <h1>Thay đổi mật khẩu của bạn</h1>
                            <p>Sử dụng biểu mẫu dưới đây để thay đổi mật khẩu của bạn.</p>
                        </div>
                        <form class="confirm__form" method="post">
                            {% csrf_token %}
                            {% if form.errors %}
                                <p>Xin vui lòng sửa những lỗi sau:</p>
                                {% for field in form %}
                                    {% if field.errors %}
                                        <div class="login__errors" role="alert">
                                            {{ field.label }}: {{ field.errors|striptags }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <label for="form-newpass" class="confirm__label">{{ form.new_password1.label }}</label>
                            {{ form.new_password1 }}
                            <label for="form-newpass2" class="confirm__label">{{ form.new_password2.label }}</label>
                            {{ form.new_password2 }}

                            <ul class="confirm__list-rule">
                                <li class="confirm__item-rule">Mật khẩu của bạn không được quá giống với thông tin cá
                                    nhân khác của bạn.
                                </li>
                                <li class="confirm__item-rule">Mật khẩu của bạn phải chứa ít nhất 8 ký tự.</li>
                                <li class="confirm__item-rule">Mật khẩu của bạn không được là mật khẩu thường dùng.</li>
                                <li class="confirm__item-rule">Mật khẩu của bạn không được hoàn toàn bằng số.</li>
                            </ul>
                            <button class="btn-confirm btn btn-white btn-animate"
                                    type="submit"
                                    value="Change">Xác nhận
                            </button>
                        </form>
                        <p class="confirm__nav-link">
                            <a href="{% url "account:login" %}">Bạn đã có sẵn một tài khoản?</a>
                        </p>
                    </div>
                </div>
                <div class="col l-6 m-0 c-0">
                    <div class="confirm__img">
                        <img src="{% static 'home/img/coffee-1900194_1920.jpg' %}" alt="coffee">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}