{% extends "product_base.html" %}
{% block title %}Đặt lại mật khẩu{% endblock %}
{% load static %}
{% block stylesheet %}
    {% static 'account/css/log.css' %}
{% endblock %}
{% block acc_mobile %}
    nav_bottom__link--active
{% endblock %}
{% block content %}


    {% if request.user.is_authenticated %}
        <script>
            window.location.href = '{% url "account:dashboard" %}';
        </script>
    {% endif %}
    <div class="body-log">
        <div class="log__wrapper">
            <div class="log__title">
                <h1>Quên mật khẩu của bạn?</h1>
                <p>Nhập địa chỉ e-mail của bạn để lấy mật khẩu mới.</p>
            </div>
            <form action="." method="post" class="log__form">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% if field.errors %}
                            <div class="log__errors" role="alert">
                                {{ field.label }}: {{ field.errors|striptags }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <label for="form-email" class="log__form-label">{{ form.email.label }}</label>
                {{ form.email }}

                <div class="log__btn">
                    <input type="hidden" name="next">
                    <button class="log__bnt-submit btn btn-black btn-animate" type="submit"
                            value="Send e-mail">Gửi email
                    </button>
                </div>
                <p class="log__login">
                    <a href="{% url "account:login" %}">Đăng nhập?</a>
                </p>

            </form>
        </div>
    </div>
{% endblock %}